helloworld1/jv.helloworld1.soa/Service Descriptors/HelloWorld1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://ns.tibco.com/Hello/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ns.tibco.com/Hello/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ns.tibco.com/Hello/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.tibco.com/Hello/">
            <xs:element name="HelloRequest" type="xs:string"/>
            <xs:element name="HelloResponse" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="OperationRequest">
        <wsdl:part element="ns0:HelloRequest" name="firstName"/>
    </wsdl:message>
    <wsdl:message name="OperationResponse">
        <wsdl:part element="ns0:HelloResponse" name="greeting"/>
    </wsdl:message>
    <wsdl:portType name="HelloWorldPT">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:OperationRequest"/>
            <wsdl:output message="tns:OperationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
